@media (max-width: 768px) {
    .starting-page{
        width: 100%;
    }
    .main-nav {
      align-items: center;
      justify-content: space-between;
    }
  .main-nav img{
    margin-left: 8px;
  }

    .ham{
        rotate: 90deg;
        margin-right: 15px;
        font-size:18px;
        display: block;
        font-weight: 800;
        cursor: pointer;
    }
    .flex-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 95px;
        left: -100%;
        transition: 0.5s ease;
        justify-content: center;
    }
    .flex-list a{
        padding: 3px;
        margin: 5px;
    }
    .flex-list button {
        margin: 5px;
    }
   .text-header h1{
    font-size: 3rem;
    padding: 60% 0;
   } 
   .text-header h2{
    font-size: 2rem;
    width: 220px;
    position: absolute;
    left: 20%;
    bottom: 41%;
    overflow: hidden;
   }
   .bar{
     position: absolute;
     bottom: 0;
   }
   .con{
    width: 100%;
    height: 100vh;
    margin-top: 46%;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   
.box1 #main{
    width: 180px;
    margin-top: 20%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.box1 #sec{
    width: 107px;
    overflow: hidden;
    left: 63%;
}
.box1 #thir{
    width: 120px;
    left: 7%;
    margin-top: -36%;
    overflow: hidden;
}
.box1 #four{
    width: 140px;
    overflow: hidden;
    margin-top: 94%;
    left: 15%;
}
.box1 .input-search-id{
   padding: 12px  0;
   overflow: hidden;
   width: 70%;
}
.input-search-id input{
    font-size: 1rem;
    overflow: hidden;
}
.box1 .input-search-id .fa-solid{
    font-size: 18px;
    overflow:hidden;
}
.box2{
    overflow:hidden;
    height: 100%;
}
.text-area h2{
    font-size: 2.3rem;
    position: absolute;
    overflow:hidden;
    left: 9%;
    margin-top: -15%;
}
.text-area .post{
    font-size: 1.5rem;
    width: 300px;
    position: absolute;
    margin-top: -5%;
    overflow:hidden;
    left:-23%;
}
.text-area button{
    position: absolute;
    overflow:hidden;
    margin-top:35%;
    left: -8%;
}
.main-login-page{
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
.backbtn{
    overflow:hidden;
    right: 40%;
}
.texta span{
    display: none;
    overflow:hidden;
}
.texta{
    width: 100%;
    overflow:hidden;
}
.texta .mobile{
    display: block;
    text-align: center;
    padding: 75px 0;
    overflow:hidden;
    color: white;
    position: relative;
}
.formlogin{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 220%;
    overflow:hidden;
    overflow: hidden;
    margin: 8px;
}
.footer{
    margin-top: 25px;
    width: 100%;
    overflow:hidden;
    flex-wrap: wrap;
}








  }